$blue: #FFAB07;
$lines_color: #E9D558;
$link: #0E8D94;

body {
  font-family: 'Open Sans', sans-serif;
  border-top: 5px solid $blue;
  padding-top: 40px;
  color: #666;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

a,
a:active {
  text-decoration: none;
  color: $link;
}

a:visited,
a:hover {
  color: darken($link, 10%) !important;
}

h1 a,
h1 a:visited,
h1 a:hover {
  color: #000 !important;
}

#pagetitle {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lines_color;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid $lines_color;
  padding-top: 10px;
  color: #aaa;
  text-align: center;
}

ul.otherprofiles li {
  font-size: 130%;

  img {
    margin-right: 5px;
  }
}

tt {
  font-family: Consolas, Monaco, monospace;
}

