$main: #3A2BE0;
$link: #DB1750;
$lines: #ddd;
$sections: #434D53;

body {
  font-family: 'Open Sans', sans-serif;
  border-top: 5px solid $main;
  padding-top: 40px;
  color: #666;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

a,
a:active {
  text-decoration: none;
  color: $link;
}

a:visited,
a:hover {
  color: darken($link, 10%) !important;
}

h1 a,
h1 a:visited,
h1 a:hover {
  color: #000 !important;
}

#pagetitle {
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid $lines;
  padding-top: 10px;
  color: #aaa;
  text-align: center;
}

#sections {
  font-size: 90%;
  color: #bbb;
  border-bottom: 1px solid $lines;

  a, a:visited {
    color: $sections !important;
    padding-right: 2px;
  }
}

ul.otherprofiles li {
  img {
    margin-right: 5px;
  }
}

tt {
  font-family: Consolas, Monaco, monospace;
}

