     <h3>Where to find me</h3>
     <ul class="otherprofiles">
      <li><a target="_blank" href="http://twitter.com/jorgelzpz"><img
      style="vertical-align: middle"
      src="/img/twitter-link.png" alt="twitter" />@jorgelzpz</a></li>
      <li><a target="_blank" href="http://github.com/adobo"><img style="vertical-align:
      middle" src="/img/github-link.png" alt="GitHub"/>adobo</a></li>
      <li><a
      href="mailto:&#106;&#111;&#114;&#103;&#101;&#64;&#97;&#100;&#111;&#98;&#111;&#46;&#111;&#114;&#103;">
      <img style="vertical-align:
      middle" src="/img/mail-link.png" alt="Email"/>&#106;&#111;&#114;&#103;&#101;&#64;&#97;&#100;&#111;&#98;&#111;&#46;&#111;&#114;&#103;</a></li>
     </ul>
